
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_URI}" !-s 
RewriteRule "^(\d+)-\d+/(.*)$" "$1/$2" [R,L]


<LimitExcept GET>
	AuthType Basic
	AuthBasicProvider ldap
	AuthName "Two Crazy Guys Admin wiki"
	AuthLDAPURL "ldap://10.150.0.3:389/ou=Accounts,dc=twocrazyguys,dc=net?uid"
	#Require ldap-group cn=staff,ou=Group,dc=twocrazyguys,dc=net
	Require valid-user
	AuthLDAPGroupAttributeIsDN off
</LimitExcept>

