Options +ExecCGI

RewriteEngine On
RewriteBase /~luke/log/
RewriteRule ^(\[0-9]+)-\[0-9]+/(.*)$ $1/$2 [R]

FallbackResource /~luke/log/

<LimitExcept GET>
	AuthType Basic
	AuthBasicProvider ldap
	AuthName "Two Crazy Guys Admin wiki"
	AuthLDAPURL "ldap://10.150.0.3:389/ou=Accounts,dc=twocrazyguys,dc=net?uid"
	#Require ldap-group cn=staff,ou=Group,dc=twocrazyguys,dc=net
	Require valid-user
	AuthLDAPGroupAttributeIsDN off
</LimitExcept>

