RewriteEngine On
RewriteBase /~luke/log/
RewriteCond %{REQUEST_URI}" !-s 
RewriteRule "^(\d+)-\d+/(.*)$" "$1/$2" [R,L]

<Location "/log/fiction/Harry_Potter/Notes/non-beings" >
Redirect permanent "https://hpfan.schierer.org/Harrypedia/non-beings/"
</Location>
Redirect permanent "log/fiction/Harry_Potter/Notes/non-beings/Dementor/" "https://hpfan.schierer.org/Harrypedia/non-beings/Dementor/"
Redirect permanent "log/fiction/Harry_Potter/Notes/non-beings/Banshee/" "https://hpfan.schierer.org/Harrypedia/non-beings/Banshee/"
Redirect permanent "log/fiction/Harry_Potter/Notes/non-beings/Boggart/" "https://hpfan.schierer.org/Harrypedia/non-beings/Boggart/"
Redirect permanent "log/fiction/Harry_Potter/Notes/non-beings/Poltergeist/" "https://hpfan.schierer.org/Harrypedia/non-beings/Poltergeist/"
Redirect permanent "log/fiction/Harry_Potter/Notes/beings/vampire/" "https://hpfan.schierer.org/Harrypedia/non-beings/vampire/"
Redirect permanent "log/fiction/Harry_Potter/Notes/beings/" "https://hpfan.schierer.org/Harrypedia/beings/"
Redirect permanent "log/fiction/Harry_Potter/Notes/beings/manticore/" "https://hpfan.schierer.org/Harrypedia/beings/manticore/"
Redirect permanent "log/fiction/Harry_Potter/Notes/beings/centaur/" "https://hpfan.schierer.org/Harrypedia/beings/centaur/"
Redirect permanent "log/fiction/Harry_Potter/Notes/beings/hags/" "https://hpfan.schierer.org/Harrypedia/beings/hags/"
Redirect permanent "log/fiction/Harry_Potter/Notes/beings/giant/" "https://hpfan.schierer.org/Harrypedia/beings/giant/"
Redirect permanent "log/fiction/Harry_Potter/Notes/Allowing_Riddle/" "https://hpfan.schierer.org/Harrypedia/Allowing_Riddle"
Redirect permanent "log/fiction/Harry_Potter/Notes/balance/" "https://hpfan.schierer.org/Harrypedia/balance"
Redirect permanent "log/fiction/Harry_Potter/Notes/Magic/" "https://hpfan.schierer.org/Harrypedia/Magic/"
Redirect permanent "log/fiction/Harry_Potter/Notes/animals/manticore/" "https://hpfan.schierer.org/Harrypedia/animals/manticore"
Redirect permanent "log/fiction/Harry_Potter/Notes/adults/Riddle/" "https://hpfan.schierer.org/Harrypedia/people/Riddle/Tom_Marvolo"
Redirect permanent "log/fiction/Harry_Potter/Notes/adults/McGonagall/" "https://hpfan.schierer.org/Harrypedia/people/McGonagall/Minerva/"
Redirect permanent "log/fiction/Harry_Potter/Notes/Ron/" "https://hpfan.schierer.org/Harrypedia/people/Weasley/Ronald_Bilius/"
Redirect permanent "log/fiction/Harry_Potter/Notes/Hogwarts/" "https://hpfan.schierer.org/Harrypedia/Hogwarts/"
Redirect permanent "log/fiction/Harry_Potter/Notes/Hogwarts/Class_Schedule_Rant/" "https://hpfan.schierer.org/Harrypedia/Class_Schedule_Rant/"
Redirect permanent "log/fiction/Harry_Potter/Notes/Hogwarts/Bathrooms/" "https://hpfan.schierer.org/Harrypedia/Bathrooms/"
Redirect permanent "log/fiction/Harry_Potter/Notes/Hogwarts/Class_and_House_Structure/" "https://hpfan.schierer.org/Harrypedia/Hogwarts/"
