/* ikiwiki style sheet */

.pageheader #otherlanguages {
	border-bottom: 1px solid #000;
}

#pageinfo {
	margin: 1em 0;
	border-top: 1px solid #000;
}

div.recentchanges {
	border-style: solid;
	border-width: 1px;
	overflow: auto;
	width: auto;
	clear: none;
	background: #eee;
	color: #3399FF !important;
}
.recentchanges .changelog {
	font-style: italic;
	clear: both;
	display: block;
	padding: 1px 2px;
	background: black !important;
	color: #3399FF !important;
}
#blogform {
	padding: 10px 10px;
	border: 1px solid #aaa;
	background: black;
	color: #3399FF !important;
	width: auto;
	overflow: auto;
}

.inlinepage {
	padding: 10px 10px;
	border: 1px solid #aaa;
	overflow: auto;
}

.error {
	color: #C00;
}

.sidebar {
	width: 20ex;
	float: right;
	margin-left: 4px;
	margin-bottom: 4px;
	margin-top: -1px;
	padding: 0ex 2ex;
	background: black;
	border: 1px solid black;
	color: #3399FF !important;
}

hr.poll {
	height: 10pt;
	color: #3399FF !important;
	background: black;
	border: 2px solid black;
}
div.poll {
	margin-top: 1ex;
	margin-bottom: 1ex;
	padding: 1ex 1ex;
	border: 1px solid #aaa;
}

.comment {
	border: 1px solid #aaa;
	padding: 3px;
}

div.progress {
	margin-top: 1ex;
	margin-bottom: 1ex;
	border: 1px solid #888;
	width: 400px;
	background: #eee;
	color: #3399FF !important;
	padding: 1px;
}
div.progress-done {
	background: #ea6 !important;
	color: #3399FF !important;
	text-align: center;
	padding: 1px;
}

/* infobox template */
.infobox {
	float: right;
	margin-left: 2ex;
	margin-top: 1ex;
	margin-bottom: 1ex;
	padding: 1ex 1ex;
	border: 1px solid #aaa;
	background: black;
	color: #3399FF !important;
}

/* notebox template */
.notebox {
	float: right;
	margin-left: 2ex;
	margin-top: 1ex;
	margin-bottom: 1ex;
	padding: 1ex 1ex;
	border: 1px solid #aaa;
	width: 25%;
	background: black;
	color: #3399FF !important;
}

/* popup template and backlinks hiding */
.popup {
	border-bottom: 1px dotted #366;
	color: #366;
}
.popup:hover .balloon,
.popup:focus .balloon {
	position: absolute;
	display: inline;
	margin: 1em 0 0 -2em;
	padding: 0.625em;
	border: 2px solid;
	background-color: #dee;
	color: #3399FF;
}

/* form styling */
fieldset {
	margin: 1ex 0;
	border: 1px solid black;
}
input#openid_identifier {
	background: url(wikiicons/openidlogin-bg.gif) no-repeat;
	background-color: #fff;
	background-position: 0 50%;
	color: #000;
	padding-left: 18px;
}
input#searchbox {
	background: url(wikiicons/search-bg.gif) no-repeat;
	background-color: black;
	background-position: 100% 50%;
	color: #3399FF;
	padding-right: 16px;
}
/* invalid form fields */
.fb_invalid {
	color: red;
	background: black !important;
}

/* highlight plugin */
pre.hl { color:#3399FF; background-color:black; }
.hl.num { color:#2928ff; }
.hl.esc { color:#ff00ff; }
.hl.str { color:#ff0000; }
.hl.dstr { color:#818100; }
.hl.slc { color:#838183; font-style:italic; }
.hl.com { color:#838183; font-style:italic; }
.hl.dir { color:#008200; }
.hl.sym { color:#3399FF; }
.hl.line { color:#555555; }
.hl.mark { background-color:#ffffbb; }
.hl.kwa { color:#3399FF; font-weight:bold; }
.hl.kwb { color:#830000; }
.hl.kwc { color:#3399FF; font-weight:bold; }
.hl.kwd { color:#010181; }

/* calendar plugin */
.month-calendar-day-this-day,
.year-calendar-this-month {
	background-color: #eee;
}
.month-calendar-day-head,
.month-calendar-day-nolink,
.month-calendar-day-link,
.month-calendar-day-this-day,
.month-calendar-day-future {
	text-align: right;
}
.month-calendar-arrow A:link,
.year-calendar-arrow A:link,
.month-calendar-arrow A:visited,
.year-calendar-arrow A:visited {
	text-decoration: none;
	font-weight: normal;
	font-size: 150%;
}

/* tag cloud */
.pagecloud {
	float: right;
	width: 30%;
	text-align: center;
	padding: 10px 10px;
	border: 1px solid #aaa;
	background: #eee;
	color: #3399FF !important;
}

/* orange feed button */
.feedbutton {
	background: #ff6600;
	color: white !important;
	border-left: 1px solid #cc9966;
	border-top: 1px solid #ccaa99;
	border-right: 1px solid #993300;
	border-bottom: 1px solid #331100;
	padding: 0px 0.5em 0px 0.5em;
	font-family: sans-serif;
	font-weight: bold;
	font-size: small;
	text-decoration: none;
	margin-top: 1em;
}
.feedbutton:hover {
	color: white !important;
	background: #ff9900;
}

#openid_highlight {
	background-color: #3399FF;
	float: left;
}
.openid_large_btn {
	padding: 1em 1.5em;
	border: 1px solid #DDD;
	margin: 3px;
	float: left;
}
.openid_small_btn {
	padding: 4px 4px;
	border: 1px solid #DDD;
	margin: 3px;
	float: left;
}
.openid_selected {
	border: 4px solid #DDD;
}
