
.timeline-svg-wrapper {
  overflow-x: auto;
}

svg {
  width: 100%;
  height: auto;
}

.rail {
  stroke: var(--spectrum-gray-100);
  stroke-width: 1.5;
}

.rail-label {
  font-size: 10px;
  text-anchor: middle;
  fill: var(--spectrum-blue-900);
  font-weight: bold;
}

.year-label {
  font-size: 9px;
  fill: var(--spectrum-gray-800);
  font-weight: bold;
}

.year-guide {
  stroke: var(--spectrum-gray-50);
  stroke-width: 0.5;
}

.dot {
  stroke: var(--spectrum-gray-50);
  stroke-width: 1;
}

.dot-catholic {
  fill: var(--spectrum-yellow-800);
}

.dot-heresy {
  fill: var(--spectrum-red-900);
}

.dot-protestant {
  fill: var(--spectrum-orange-700);
}

.dot-orthodox {
  fill: var(--spectrum-chartreuse-700);
}

.dot-oriental_orthodox {
  fill: var(--spectrum-gray-600);
}

.dot-dangerous {
  fill: var(--spectrum-magenta-900);
}

.dot-reunited {
  fill: var(--spectrum-green-800);
}

.dot-partial_communion {
  fill: var(--spectrum-celery-700);
}

.leader {
  stroke: var(--spectrum-gray-300);
  stroke-width: 0.5;
  stroke-dasharray: 2, 2;
}

.edge {
  stroke: var(--spectrum-gray-500);
  stroke-width: 0.8;
  opacity: 0.6;
}

.node-rect {
  fill: var(--spectrum-gray-50);
  stroke: var(--spectrum-gray-300);
  stroke-width: 0.5;
}

.node-rect-catholic {
  fill: var(--spectrum-yellow-200);
  stroke: var(--spectrum-yellow-800);
}

.node-rect-heresy {
  fill: var(--spectrum-red-200);
  stroke: var(--spectrum-red-900);
}

.node-rect-protestant {
  fill: var(--spectrum-orange-200);
  stroke: var(--spectrum-orange-700);
}

.node-rect-orthodox {
  fill: var(--spectrum-chartreuse-200);
  stroke: var(--spectrum-chartreuse-700);
}

.node-rect-oriental_orthodox {
  fill: var(--spectrum-gray-200);
  stroke: var(--spectrum-gray-600);
}

.node-rect-dangerous {
  fill: var(--spectrum-magenta-200);
  stroke: var(--spectrum-magenta-900);
}

.node-rect-reunited {
  fill: var(--spectrum-green-200);
  stroke: var(--spectrum-green-800);
}

.node-rect-partial_communion {
  fill: var(--spectrum-celery-200);
  stroke: var(--spectrum-celery-700);
}

.node-label {
  font-size: 10px;
  padding: 4px;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 100%;
}

.node-label a {
  color: inherit;
  text-decoration: none;
}

.node-label a:hover {
  text-decoration: underline;
}

.rail-catholic {
  stroke: var(--spectrum-yellow-800);
}

.rail-heresy {
  stroke: var(--spectrum-red-900);
}

.rail-protestant {
  stroke: var(--spectrum-orange-700);
}

.rail-orthodox {
  stroke: var(--spectrum-chartreuse-700);
}

.rail-oriental_orthodox {
  stroke: var(--spectrum-gray-600);
}

.rail-dangerous {
  stroke: var(--spectrum-magenta-900);
}

.rail-reunited {
  stroke: var(--spectrum-green-800);
}

.rail-partial_communion {
  stroke: var(--spectrum-celery-700);
}
