.sidebar {
  margin-bottom: 4px;
  margin-top: -1px;
  padding: 0rem 1em;
  border: 1px solid #3399ff;
  color: #3399ff !important;
}

.month-calendar-day-this-day,
.year-calendar-this-month {
  background-color: #eee;
  color: 3399ff;
}

History {
  border: 1px solid #3399ff;
  height: auto;
  width: 90%;
}

p {
  line-height: 1.5em;
  margin: 0 0 1em;
  padding: 0;
}

a {
  color: #0b24bc;
  text-decoration: none;
  font-weight: bold;
}

a img {
  border: none;
}

a:visited {
  color: #c42d2b;
}

a:hover {
  color: #eec900;
  text-decoration: none;
}

acronym,
abbr {
  border-bottom: 1px dotted #88cdae;
}

acronym,
abbr,
span.caps {
  cursor: help;
  letter-spacing: 0.06em;
}

blockquote {
  background: #000066;
  border-left: #aaffd9 3px solid;
  margin: 15px 55px 10px 25px;
  padding: 5px 2px 2px 5px;
}

cite {
  background: #468b79;
  margin: 15px 2px 0 5px;
  padding: 0 0px 5px 0px;
}

body {
  background: #3c454b no-repeat top left;
  color: #3399ff;
  font:
    0.9em/1.3em Verdana,
    Georgia,
    Times,
    Times New Roman,
    sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
}

h1,
h2,
h3,
h4 {
  font-family:
    arial,
    verdana,
    Lucida Sans Unicode,
    lucida,
    sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}

hr {
  border-top: #ffffff 1px solid;
}
