/* ikiwiki style sheet */

/* Note that instead of modifying this style sheet, you can instead edit
 * local.css and use it to override or change settings in this one.
 */

/* html5 compat */
article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
menu,
nav,
section {
  display: block;
}

div.header,
header.header {
  margin: 0;
  font-size: 140%;
  font-weight: bold;
  line-height: 1em;
  display: block;
}

.inlineheader .author {
  margin: 0;
  font-size: 112%;
  font-weight: bold;
  display: block;
}

.actions ul {
  margin: 0;
  padding: 6px 0.4em;
  height: 1em;
  list-style-type: none;
}
.actions li {
  display: inline;
  padding: 0.2em;
}
.pageheader .actions ul {
  border-bottom: 1px solid var(--spectrum--black);
}

.inlinepage .actions ul {
  border-bottom: 0;
}

#otherlanguages ul {
  margin: 0;
  padding: 6px;
  list-style-type: none;
}
#otherlanguages li {
  display: inline;
  padding: 0.2em 0.4em;
}
.pageheader #otherlanguages {
  border-bottom: 1px solid var(--spectrum--black);
}

.inlinecontent,
.inlineenclosure {
  margin-top: 0.4em;
}

.pagefooter,
.inlinefooter,
.comments {
  clear: both;
}

#pageinfo {
  margin: 1em 0;
  border-top: 1px solid var(--spectrum--black);
}

.tags {
  margin-top: 1em;
}

.inlinepage .tags {
  display: inline;
}

.mapparent {
  text-decoration: none;
}

.img caption {
  font-size: 80%;
  caption-side: bottom;
  text-align: center;
}

img.img {
  margin: 0.5ex;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}

#backlinks {
  margin-top: 1em;
}

#searchform {
  display: inline;
  float: right;
}

#editcontent {
  width: 98%;
}

.editcontentdiv {
  width: auto;
  overflow: auto;
}

img {
  border-style: none;
}

pre {
  overflow: auto;
}

div.recentchanges {
  border-style: solid;
  border-width: 1px;
  overflow: auto;
  width: auto;
  clear: none;
  background: var(--spectrum-gray-200);
  color: var(--spectrum--black) !important;
}
.recentchanges .metadata {
  padding: 0px 0.5em;
}
.recentchanges .changelog {
  font-style: italic;
  clear: both;
  display: block;
  padding: 1px 2px;
  background: var(--spectrum-white) !important;
  color: var(--spectrum-black) !important;
}
.recentchanges .desc {
  display: none;
}
.recentchanges .diff {
  display: none;
}
.recentchanges .committer {
  float: left;
  margin: 0;
  width: 40%;
}
.recentchanges .committype {
  float: left;
  margin: 0;
  width: 5%;
  font-size: small;
}
.recentchanges .changedate {
  float: left;
  margin: 0;
  width: 35%;
  font-size: small;
}
.recentchanges .pagelinks,
.recentchanges .revert {
  float: right;
  margin: 0;
  width: 60%;
}

.blogform,
#blogform {
  padding: 10px 10px;
  border: 1px solid var(--spectrum-gray-400);
  background: var(--spectrum-gray-200);
  color: var(--spectrum-black) !important;
  width: auto;
  overflow: auto;
}

.inlinepage {
  padding: 10px 10px;
  border: 1px solid var(--spectrum-gray-400);
  overflow: auto;
}

.pagedate,
.pagelicense,
.pagecopyright {
  font-style: italic;
  display: block;
  margin-top: 1em;
}

.archivepagedate {
  font-style: italic;
}
.archivepage {
  margin-bottom: 1em;
}

.error {
  color: var(--spectrum-red);
}

.sidebar {
  width: 20ex;
  float: right;
  margin-left: 4px;
  margin-bottom: 4px;
  margin-top: -1px;
  padding: 0ex 2ex;
  background: var(--spectrum-white);
  border: 1px solid var(--spectrum-black);
  color: var(--spectrum-black) !important;
}

hr.poll {
  height: 10pt;
  color: var(--spectrum-white) !important;
  background: var(--spectrum-gray-200);
  border: 2px solid var(--spectrum-black);
}
div.poll {
  margin-top: 1ex;
  margin-bottom: 1ex;
  padding: 1ex 1ex;
  border: 1px solid var(--spectrum-gray-400);
}

span.color {
  padding: 2px;
}

.comment-header,
.microblog-header {
  font-style: italic;
  margin-top: 0.3em;
}
.comment .author,
.microblog .author {
  font-weight: bold;
}
.comment-subject {
  font-weight: bold;
}
.comment-avatar {
  float: right;
}
.comment {
  border: 1px solid var(--spectrum-gray-400);
  padding: 3px;
}

div.progress {
  margin-top: 1ex;
  margin-bottom: 1ex;
  border: 1px solid var(--spectrum-gray-600);
  width: 400px;
  background: var(--spectrum-gray-200);
  color: var(--spectrum--black) !important;
  padding: 1px;
}
div.progress-done {
  background: var(--spectrum-orange-400) !important;
  color: var(--spectrum--black) !important;
  text-align: center;
  padding: 1px;
}

/* things to hide in printouts */
@media print {
  .actions {
    display: none;
  }
  .tags {
    display: none;
  }
  .trails {
    display: none;
  }
  .feedbutton {
    display: none;
  }
  #searchform {
    display: none;
  }
  .blogform,
  #blogform {
    display: none;
  }
  #backlinks {
    display: none;
  }
  .addcomment {
    display: none;
  }
}

/* infobox template */
.infobox {
  float: right;
  margin-left: 2ex;
  margin-top: 1ex;
  margin-bottom: 1ex;
  padding: 1ex 1ex;
  border: 1px solid var(--spectrum--gray-400);
  background: var(--spectrum--white);
  color: var(--spectrum--black) !important;
}

/* notebox template */
.notebox {
  float: right;
  margin-left: 2ex;
  margin-top: 1ex;
  margin-bottom: 1ex;
  padding: 1ex 1ex;
  border: 1px solid var(--spectrum--gray-400);
  width: 25%;
  background: var(--spectrum--white);
  color: var(--spectrum--black) !important;
}

/* popup template and backlinks hiding */
.popup {
  border-bottom: 1px dotted var(--spectrum-seafoam-900);
  color: var(--spectrum-seafoam-900);
}
.popup .balloon,
.popup .paren,
.popup .expand {
  display: none;
  text-align: left;
}
.popup:hover .balloon,
.popup:focus .balloon {
  position: absolute;
  display: inline;
  margin: 1em 0 0 -2em;
  padding: 0.625em;
  border: 2px solid;
  background-color: var(--spectrum-seafoam-100);
  color: var(--spectrum-black);
}

/* form styling */
fieldset {
  margin: 1ex 0;
  border: 1px solid var(--spectrum-black);
}
legend {
  padding: 0 1ex;
}
.fb_submit {
  float: left;
  margin: 2px 0;
}
label.block {
  display: block;
}
label.inline {
  display: inline;
}
input#openid_identifier {
  background: url(wikiicons/openidlogin-bg.gif) no-repeat;
  background-color: var(--spectrum-white);
  background-position: 0 50%;
  color: var(--spectrum-black);
  padding-left: 18px;
}
input#searchbox {
  background: url(wikiicons/search-bg.gif) no-repeat;
  background-color: var(--spectrum-white);
  background-position: 100% 50%;
  color: var(--spectrum-black);
  padding-right: 16px;
}
/* invalid form fields */
.fb_invalid {
  color: var(--spectrum-red);
  background: var(--spectrum-white) !important;
}
/* required form fields */
.fb_required {
  font-weight: bold;
}

/* highlight plugin */
pre.hl {
  color: var(--spectrum-black);
  background-color: var(--spectrum-white);
}
.hl.num {
  color: var(--spectrum-blue);
}
.hl.esc {
  color: var(--spectrum-magenta);
}
.hl.str {
  color: var(--spectrum-red-800);
}
.hl.dstr {
  color: var(--spectrum-chartreuse-800);
}
.hl.slc {
  color: var(--spectrum-gray-800);
  font-style: italic;
}
.hl.com {
  color: var(--spectrum-gray-800);
  font-style: italic;
}
.hl.dir {
  color: var(--spectrum-celery-800);
}
.hl.sym {
  color: var(--spectrum-black);
}
.hl.line {
  color: var(--spectrum-gray-700);
}
.hl.mark {
  background-color: var(--spectrum-yellow-100);
}
.hl.kwa {
  color: var(--spectrum-black);
  font-weight: bold;
}
.hl.kwb {
  color: var(--spectrum-red-1100);
}
.hl.kwc {
  color: var(--spectrum-black);
  font-weight: bold;
}
.hl.kwd {
  color: var(--spectrum-blue-1100);
}

/* calendar plugin */
.month-calendar-day-this-day,
.year-calendar-this-month {
  background-color: var(--spectrum-gray-200);
}
.month-calendar-day-head,
.month-calendar-day-nolink,
.month-calendar-day-link,
.month-calendar-day-this-day,
.month-calendar-day-future {
  text-align: right;
}
.month-calendar-arrow A:link,
.year-calendar-arrow A:link,
.month-calendar-arrow A:visited,
.year-calendar-arrow A:visited {
  text-decoration: none;
  font-weight: normal;
  font-size: 150%;
}

/* outlines */
li.L1 {
  list-style: upper-roman;
}
li.L2 {
  list-style: decimal;
}
li.L3 {
  list-style: lower-alpha;
}
li.L4 {
  list-style: disc;
}
li.L5 {
  list-style: square;
}
li.L6 {
  list-style: circle;
}
li.L7 {
  list-style: lower-roman;
}
li.L8 {
  list-style: upper-alpha;
}

/* tag cloud */
.pagecloud {
  float: right;
  width: 30%;
  text-align: center;
  padding: 10px 10px;
  border: 1px solid var(--spectrum--gray-400);
  background: var(--spectrum-gray-200);
  color: var(--spectrum--black) !important;
}
.smallestPC {
  font-size: 70%;
}
.smallPC {
  font-size: 85%;
}
.normalPC {
  font-size: 100%;
}
.bigPC {
  font-size: 115%;
}
.biggestPC {
  font-size: 130%;
}

.feedbutton:hover {
  color: var(--spectrum-white) !important;
  background: var(--spectrum-orange-500);
}

.FlattrButton {
  display: none;
}

/* login selector */
#login_choice {
  display: none;
}
#login_input_area {
  clear: both;
  padding: 10px;
}
#login_btns,
#login_btns br {
  clear: both;
}
#login_highlight {
  background-color: var(--spectrum-black);
  float: left;
}
.login_large_btn {
  padding: 1em 1.5em;
  border: 1px solid var(--spectrum-gray-300);
  margin: 3px;
  float: left;
}
.login_small_btn {
  padding: 4px 4px;
  border: 1px solid var(--spectrum-gray-300);
  margin: 3px;
  float: left;
}
a.login_large_btn:focus {
  outline: none;
}
a.login_large_btn:focus {
  outline-style: none;
}
.login_selected {
  border: 4px solid var(--spectrum-gray-300);
}

.fileupload-content .ui-progressbar {
  width: 200px;
  height: 20px;
}
.fileupload-content .ui-progressbar-value {
  background: url(ikiwiki/images/pbar-ani.gif);
}

.trails {
  margin-top: 1em;
  margin-bottom: 1em;
}
.trail {
  display: block;
  clear: both;
  position: relative;
}

.trailprev {
  display: block;
  text-align: left;
  position: absolute;
  top: 0%;
  left: 3%;
  width: 30%;
}

.trailup {
  display: block;
  text-align: center;
  margin-left: 35%;
  margin-right: 35%;
}

.trailnext {
  display: block;
  text-align: right;
  position: absolute;
  top: 0%;
  width: 30%;
  right: 3%;
}

.trailsep {
  display: none;
}

/* mobile/small-screen-friendly layout */
@media (max-width: 600px) {
  .sidebar {
    width: auto;
    float: none;
    margin-top: 0;
    border: none;
  }

  /* if the mobile browser is new enough, use flex layout to shuffle
	 * the sidebar to the end */
  .page {
    display: -webkit-box;
    display: -webkit-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: tb;
    -webkit-flex-direction: column;
    -webkit-flex-flow: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #pageheader {
    -webkit-box-ordinal-group: -1;
    -webkit-order: -1;
    -ms-box-ordinal-group: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .sidebar,
  #footer {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 1;
    -ms-box-ordinal-group: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  .blogform,
  #blogform {
    padding: 4px 4px;
  }
}
