/* the props */
@import "open-props/open-props.min.css";

/* optional imports that use the props */
@import "open-props/normalize.min.css";
@import "open-props/buttons.min.css";

html,
:root {
  --background-color: var(--gray-6);
  --main-color: var(--blue-8);

  background-color: var(--background-color);

  --brand-dark: var(--blue-11);
  --text-1-dark: var(--blue-8);
  --text-2-dark: var(--blue-12);
  --surface-1-dark: var(--gray-6);
  --surface-2-dark: var(--gray-7);
  --surface-3-dark: var(--gray-8);
  --surface-4-dark: var(--gray-9);
  --brand: var(--brand-dark);
  --text-1: var(--text-1-dark);
  --text-2: var(--text-2-dark);
  --surface-1: var(--surface-1-dark);
  --surface-2: var(--surface-2-dark);
  --surface-3: var(--surface-3-dark);
  --surface-4: var(--surface-4-dark);
}

body {
  color: var(--main-color);
  margin: 0;
  width: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  box-sizing: border-box;
  width: min(100vw, 100%);
  min-height: fit-content;
  flex-flow: row wrap;
  display: flex;

  & div.site-title-section {
    width: min(100%, 80vw);
  }

  & div.right-group {
    flex: 1 1 auto;
    max-width: 90%;
    justify-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

main {
  margin: var(--size-3);
  min-height: 60vh;
  flex: 3 1 auto;
  display: flex;
  flex-direction: column;
}

footer {
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 1;
  margin-top: auto;
  left: 0;
  width: min(100%, 100vw);
}
