/* cspell: disable */
@import "@spectrum-css/tokens/dist/css/index.css";
@import "@spectrum-css/page/index.css";
@import "@spectrum-css/typography/index.css";
@import "@spectrum-css/link/index.css";

html,
:root {
  --brand-dark: var(--spectrum-blue-900);
  --text-1-dark: var(--spectrum-indigo-700);
  --text-2-dark: var(--spectrum-blue-900);
  --text-3-dark: var(--spectrum-blue-600);
  --surface-1-dark: var(--spectrum-gray-100);
  --surface-2-dark: var(--spectrum-gray-300);
  --surface-3-dark: var(--spectrum-gray-500);
  --surface-4-dark: var(--spectrum-gray-700);
  --brand: var(--brand-dark);
  --text-1: var(--text-1-dark);
  --text-2: var(--text-2-dark);
  --text-3: var(--text-3-dark);
  --surface-1: var(--surface-1-dark);
  --surface-2: var(--surface-2-dark);
  --surface-3: var(--surface-3-dark);
  --surface-4: var(--surface-4-dark);
  --background-color: var(--surface-1);
  --main-color: var(--text-1);

  background-color: var(--background-color);
}

body {
  margin: 0;
  width: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  box-sizing: border-box;
  width: min(100vw, 100%);
  min-height: fit-content;
  flex-flow: row wrap;
  display: flex;

  & div.site-title-section {
    width: min(100%, 80vw);
  }

  & div.right-group {
    flex: 1 1 auto;
    max-width: 90%;
    justify-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

main {
  margin: var(--spectrum-spacing-300);
  min-height: 60vh;
  flex: 3 1 auto;
  display: flex;
  flex-direction: column;
}

footer {
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 1;
  margin-top: auto;
  left: 0;
  width: min(100%, 100vw);
}

.spectrum-Body {
  --mod-body-font-color: var(--text-1);

}

 a.spectrum-Link {
  --mod-link-text-color: var(--text-3);
}

a.spectrum-Link.spectrum-Link--secondary {
  --mod-link-text-color: inherit;
}



h1,
h2,
h3,
h4,
h5,
dt {
  --mod-heading-font-color: var(--text-2);
}

iconify-icon#github {
  color: var(--spectrum-gray-50);
}
