div.linklist {
  place-self: center center;
}

header img.toplogo {
  width: 100%;
  height: var(--spectrum-global-dimension-size-2400);
}

div#pageinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

div.pagecopyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
}
