[%# luke/log_entry.tt - Wrapper for Luke's blog posts %]
[% 
  # Determine layout from frontmatter or default to rut
  layout = layout || 'luke_rut';
  
  # Wrap layout name with layouts/ path
  layout_path = 'layouts/' _ layout _ '.tt';
%]
[% WRAPPER $layout_path %]
[% content %]
[% END %]
